<header class="header ">
    <div class="container">
      <div class="row ">
        <div class="col-md-6 header-info">
          {% for my in all_info %}
          <a href="mailto:{{my.email}}" class="mr-3">{{my.email}}</a>
          <span>Call at: {{my.phone}} </span>
          {%endfor%}
        </div>
        <div class="header-buttons col-md-6 d-flex justify-content-end">
          {% if user.is_authenticated %}
          <a class="btn btn-accent mr-3" href="{% url 'dashboard' %}">Dashboard</a>
          <a class="btn btn-accent " href="{% url 'logout' %}">Logout</a>
          {%else%}
          <a class="btn btn-accent mr-3" href="{% url 'login' %}">Signin</a>
          <a class="btn btn-accent " href="{% url 'register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
